/* The navigation Bar */
header {
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 50px;
    
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  header a:hover {
    background: #ddd;
    color: black;
  }

/* Main content */
body {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
  }
h1 {
    color: white;
}
  
.container {
    margin: 0;
    padding: 0;
}
.logotext {
    color: white;
    display: flex;
    align-items: center;
}
/* The navigation links */
nav {
    /* Width and height apply to all parts of the element: content, padding and borders */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    
}
li, a {
    color: white;
    text-decoration: none;  /* removes the underline hyperl */
}

.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.logo {
    cursor: pointer;
    max-width: 90px;
    max-height: 40px;
}
.background_img {
    background: url("workout.jpg") no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -50px;
} 

/*centers all items vertically */
.wrap {
    display: flex;
    align-items: center;
}
.contact_button {
    height: 30px;
    width: 90px;
}

/* Form styling */
.contact_form {
    background-color: color;
    color: white;
}
#mail{
    margin-right: 25px;
}
#osom{
    margin-right: 25px;
}
#letter{
    margin-right: 10px;
}
#submit{
    margin-left: 100px;
}


/* When the screen is less than 400 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 400px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
/*
@media only screen and (max-width: 400px) {
    header {
      background-color: red;
    }
    .logo{
        display: none;
    }
  }
*/